
  /* ************************************************************* */
 /*                         HEADER                                */
/* ************************************************************* */
.headerTitle {
    text-align: center;
    box-shadow: 0 0 5px 5px grey;
    padding: 20px; 
}

  /* ************************************************************* */
 /*                         FOOTER                                */
/* ************************************************************* */
.footerTitle {
    text-align: center;
    box-shadow: 0 0 5px 5px grey;
    padding: 20px; 
}